<launch>
    <include file="$(find manipulation)/launch/realsense.launch">
    </include>
    <node name="cam_transform" pkg="manipulation" type="realsense_tf_publisher.py" output="screen"/>
    <node name="new_perception_node" pkg="bumpkin" type="new_hand_landmarker.py" output="screen"/>
    <node name="motion_tracking" pkg="bumpkin" type="motion_tracking_franka.py" output="screen" />
    <!-- <include file="$(find manipulation)/launch/moveit.launch"> -->
    <!-- </include> -->
</launch>
