<launch>
    <include file="$(find manipulation)/launch/realsense.launch">
    </include>
    <node name="cam_transform" pkg="manipulation" type="realsense_tf_publisher.py" output="screen"/>
    
    <node name="dummy_target_pub" pkg="bumpkin" type="dummy_perception.py" output="screen" />
    <!-- <node name="perception" pkg="bumpkin" type="new_hand_landmarker.py" output="screen" /> -->
    <node name="motion" pkg="bumpkin" type="bumpkin_fsm.py" output="screen" />
    <include file="$(find manipulation)/launch/moveit.launch">
        <!-- Need this for the TF / robot description -->
    </include>
</launch>