<launch>
    <!-- <node name="dummy_target_pub" pkg="bumpkin" type="dummy_perception.py" output="screen" /> -->
    <node name="manual_input_pub" pkg="bumpkin" type="input_target_pub.py" output="screen" />

    <node name="motion_tracking_node" pkg="bumpkin" type="motion_tracking_franka.py" output="screen" />
</launch>